config/local.conf
.idea
working
chef/.kitchen
chef/aws.json
atlassian-ide-plugin.xml
.virtualenv
__pycache__
*.pyc
.coverage
Distutils.egg-info
*.log
*.tmp
tags
*.html
.DS_Store
htmlcov
_build
*.swp
copyright_hub_authentication_service.egg-info

node_modules
